<nav class="navbar navbar-expand-lg bg-body-tertiary p-3">
    <div class="container-fluid">
      <a class="navbar-brand fs-2" href="/">Blog App</a>
      <div class="collapse navbar-collapse d-flex" id="navbarScroll">
        <ul class="navbar-nav  ">
          <li class="nav-item">
            <a class="nav-link active  fs-2" aria-current="page" href="/">Home</a>
            

          </li>
          
        </ul>
        
      </div>
      <form action="/compose" method="GET">
        <button class="btn btn-primary">New Blog</button>
      </form>
    </div>
  </nav>